# This is a template .gitignore file for git-managed WordPress projects.
#
# Fact: you don't want WordPress core files, or your server-specific
# configuration files etc., in your project's repository. You just don't.
# As such this is intended to only cover items in the wp-content folder.
#
# Solution: this is intended to only cover items in the wp-content folder
# and so should appear at the root of the wp-content folder.
#
# See the comments below for more info on how to add exceptions for your
# content.



# ignore everything in the wp-content folder to start
/*


# don't ignore the following specific files/folders
!.gitignore


# don't ignore the plugins directories
!plugins/
!mu-plugins/


# Ignore everything in the "themes" directory, except our custom theme
!themes/neudev/
plugins/wordfence/css/activity-report-widget.1538422087.css
plugins/wordfence/css/diff.1538422087.css
plugins/wordfence/css/dt_table.1538422087.css
plugins/wordfence/css/fullLog.1538422087.css
plugins/wordfence/css/iptraf.1538422087.css
plugins/wordfence/css/jquery-ui-timepicker-addon.1538422087.css
plugins/wordfence/css/jquery-ui.min.1538422087.css
plugins/wordfence/css/jquery-ui.structure.min.1538422087.css
plugins/wordfence/css/jquery-ui.theme.min.1538422087.css
plugins/wordfence/css/main.1538422087.css
plugins/wordfence/css/phpinfo.1538422087.css
plugins/wordfence/css/wf-adminbar.1538422087.css
plugins/wordfence/css/wf-colorbox.1538422087.css
plugins/wordfence/css/wf-font-awesome.1538422087.css
plugins/wordfence/css/wf-ionicons.1538422087.css
plugins/wordfence/css/wf-onboarding.1538422087.css
plugins/wordfence/css/wf-roboto-font.1538422087.css
plugins/wordfence/css/wfselect2.min.1538422087.css
plugins/wordfence/css/wordfenceBox.1538422087.css
plugins/wordfence/js/admin.1538422087.js
plugins/wordfence/js/admin.ajaxWatcher.1538422087.js
plugins/wordfence/js/admin.liveTraffic.1538422087.js
plugins/wordfence/js/Chart.bundle.min.1538422087.js
plugins/wordfence/js/date.1538422087.js
plugins/wordfence/js/jquery-ui-timepicker-addon.1538422087.js
plugins/wordfence/js/jquery.colorbox-min.1538422087.js
plugins/wordfence/js/jquery.colorbox.1538422087.js
plugins/wordfence/js/jquery.dataTables.min.1538422087.js
plugins/wordfence/js/jquery.qrcode.min.1538422087.js
plugins/wordfence/js/jquery.tmpl.min.1538422087.js
plugins/wordfence/js/jquery.tools.min.1538422087.js
plugins/wordfence/js/knockout-3.3.0.1538422087.js
plugins/wordfence/js/perf.1538422087.js
plugins/wordfence/js/wfdashboard.1538422087.js
plugins/wordfence/js/wfdropdown.1538422087.js
plugins/wordfence/js/wfglobal.1538422087.js
plugins/wordfence/js/wfpopover.1538422087.js
plugins/wordfence/js/wfselect2.min.1538422087.js
plugins/wordfence/models/block/wfRateLimit.php
plugins/wordfence/vendor/.htaccess
plugins/wordfence/waf/.htaccess
plugins/advanced-custom-fields-pro/assets/css/acf-dark.css
plugins/advanced-custom-fields-pro/assets/images/acf-logo.png
plugins/advanced-custom-fields-pro/includes/assets.php
plugins/advanced-custom-fields-pro/includes/form.php
plugins/advanced-custom-fields-pro/includes/third-party.php
plugins/advanced-custom-fields-pro/includes/upgrades.php
plugins/advanced-custom-fields-pro/includes/admin/admin-tools.php
plugins/advanced-custom-fields-pro/includes/admin/admin-upgrade.php
plugins/advanced-custom-fields-pro/includes/admin/tools/class-acf-admin-tool-export.php
plugins/advanced-custom-fields-pro/includes/admin/tools/class-acf-admin-tool-import.php
plugins/advanced-custom-fields-pro/includes/admin/tools/class-acf-admin-tool.php
plugins/advanced-custom-fields-pro/includes/admin/views/html-admin-page-upgrade-network.php
plugins/advanced-custom-fields-pro/includes/admin/views/html-admin-page-upgrade.php
plugins/advanced-custom-fields-pro/includes/admin/views/html-admin-tools.php
plugins/advanced-custom-fields-pro/includes/admin/views/html-notice-upgrade.php
plugins/advanced-custom-fields-pro/includes/ajax/class-acf-ajax-check-screen.php
plugins/advanced-custom-fields-pro/includes/ajax/class-acf-ajax-query-terms.php
plugins/advanced-custom-fields-pro/includes/ajax/class-acf-ajax-query.php
plugins/advanced-custom-fields-pro/includes/ajax/class-acf-ajax-upgrade.php
plugins/advanced-custom-fields-pro/includes/ajax/class-acf-ajax-user-setting.php
plugins/advanced-custom-fields-pro/includes/ajax/class-acf-ajax.php
plugins/advanced-custom-fields-pro/includes/api/api-term.php
plugins/advanced-custom-fields-pro/includes/fields/class-acf-field-accordion.php
plugins/advanced-custom-fields-pro/includes/fields/class-acf-field-button-group.php
plugins/advanced-custom-fields-pro/includes/forms/form-gutenberg.php
plugins/advanced-custom-fields-pro/lang/acf-hr_HR.mo
plugins/advanced-custom-fields-pro/lang/acf-hr_HR.po
plugins/wordpress-seo/css/dist/admin-global-830-rtl.min.css
plugins/wordpress-seo/css/dist/admin-global-830.min.css
plugins/wordpress-seo/css/dist/adminbar-830-rtl.min.css
plugins/wordpress-seo/css/dist/adminbar-830.min.css
plugins/wordpress-seo/css/dist/alerts-830-rtl.min.css
plugins/wordpress-seo/css/dist/alerts-830.min.css
plugins/wordpress-seo/css/dist/dashboard-830-rtl.min.css
plugins/wordpress-seo/css/dist/dashboard-830.min.css
plugins/wordpress-seo/css/dist/edit-page-830-rtl.min.css
plugins/wordpress-seo/css/dist/edit-page-830.min.css
plugins/wordpress-seo/css/dist/featured-image-830-rtl.min.css
plugins/wordpress-seo/css/dist/featured-image-830.min.css
plugins/wordpress-seo/css/dist/filter-explanation-830-rtl.min.css
plugins/wordpress-seo/css/dist/filter-explanation-830.min.css
plugins/wordpress-seo/css/dist/inside-editor-830-rtl.min.css
plugins/wordpress-seo/css/dist/inside-editor-830.min.css
plugins/wordpress-seo/css/dist/metabox-830-rtl.min.css
plugins/wordpress-seo/css/dist/metabox-830.min.css
plugins/wordpress-seo/css/dist/metabox-primary-category-830-rtl.min.css
plugins/wordpress-seo/css/dist/metabox-primary-category-830.min.css
plugins/wordpress-seo/css/dist/search-appearance-830-rtl.min.css
plugins/wordpress-seo/css/dist/search-appearance-830.min.css
plugins/wordpress-seo/css/dist/structured-data-blocks-830-rtl.min.css
plugins/wordpress-seo/css/dist/structured-data-blocks-830.min.css
plugins/wordpress-seo/css/dist/toggle-switch-830-rtl.min.css
plugins/wordpress-seo/css/dist/toggle-switch-830.min.css
plugins/wordpress-seo/css/dist/wpseo-dismissible-830-rtl.min.css
plugins/wordpress-seo/css/dist/wpseo-dismissible-830.min.css
plugins/wordpress-seo/css/dist/yoast-components-830-rtl.min.css
plugins/wordpress-seo/css/dist/yoast-components-830.min.css
plugins/wordpress-seo/css/dist/yoast-extensions-830-rtl.min.css
plugins/wordpress-seo/css/dist/yoast-extensions-830.min.css
plugins/wordpress-seo/css/dist/yst_plugin_tools-830-rtl.min.css
plugins/wordpress-seo/css/dist/yst_plugin_tools-830.min.css
plugins/wordpress-seo/css/dist/yst_seo_score-830-rtl.min.css
plugins/wordpress-seo/css/dist/yst_seo_score-830.min.css
plugins/wordpress-seo/js/dist/analysis-830.min.js
plugins/wordpress-seo/js/dist/babel-polyfill-830.min.js
plugins/wordpress-seo/js/dist/commons-830.min.js
plugins/wordpress-seo/js/dist/components-830.min.js
plugins/wordpress-seo/js/dist/configuration-wizard-830.min.js
plugins/wordpress-seo/js/dist/search-appearance-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-admin-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-admin-global-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-admin-gsc-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-admin-media-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-analysis-worker-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-api-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-bulk-editor-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-dashboard-widget-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-edit-page-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-featured-image-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-filter-explanation-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-help-center-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-metabox-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-metabox-category-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-modal-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-network-admin-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-post-scraper-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-quick-edit-handler-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-recalculate-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-reindex-links-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-replacevar-plugin-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-shortcode-plugin-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-structured-data-blocks-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-term-scraper-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-used-keywords-assessment-830.min.js
plugins/wordpress-seo/js/dist/wp-seo-wp-globals-backport-830.min.js
plugins/wordpress-seo/languages/wordpress-seo-uk.json
plugins/wordpress-seo/languages/wordpress-seojs-uk.json
plugins/wordpress-seo/languages/yoast-components-uk.json
plugins/wp-rocket/CONTRIBUTING.md
plugins/wp-rocket/assets/img/logo-google-analytics.svg
plugins/wp-rocket/assets/img/picto-wprocket-dark.svg
plugins/wp-rocket/inc/3rd-party/hosting/o2switch.php
plugins/wp-rocket/inc/3rd-party/themes/uncode.php
plugins/wp-rocket/inc/classes/class-logger.php
plugins/wp-rocket/inc/classes/admin/class-logs.php
plugins/wp-rocket/inc/classes/busting/class-abstract-busting.php
plugins/wp-rocket/inc/classes/busting/class-busting-factory.php
plugins/wp-rocket/inc/classes/busting/class-google-analytics.php
plugins/wp-rocket/inc/classes/busting/class-google-tag-manager.php
plugins/wp-rocket/inc/classes/event-management/class-event-manager.php
plugins/wp-rocket/inc/classes/event-management/event-manager-aware-subscriber-interface.php
plugins/wp-rocket/inc/classes/event-management/subscriber-interface.php
plugins/wp-rocket/inc/classes/optimization/class-abstract-optimization.php
plugins/wp-rocket/inc/classes/optimization/class-assets-local-cache.php
plugins/wp-rocket/inc/classes/optimization/class-cache-dynamic-resource.php
plugins/wp-rocket/inc/classes/optimization/class-remove-query-string.php
plugins/wp-rocket/inc/classes/optimization/CSS/class-abstract-css-optimization.php
plugins/wp-rocket/inc/classes/optimization/CSS/class-combine-google-fonts.php
plugins/wp-rocket/inc/classes/optimization/CSS/class-combine.php
plugins/wp-rocket/inc/classes/optimization/CSS/class-minify.php
plugins/wp-rocket/inc/classes/optimization/CSS/trait-path-rewriter.php
plugins/wp-rocket/inc/classes/optimization/JS/class-abstract-js-optimization.php
plugins/wp-rocket/inc/classes/optimization/JS/class-combine.php
plugins/wp-rocket/inc/classes/optimization/JS/class-minify.php
plugins/wp-rocket/inc/classes/subscriber/class-google-tracking-cache-busting-subscriber.php
plugins/wp-rocket/inc/classes/subscriber/Optimization/class-abstract-minify-subscriber.php
plugins/wp-rocket/inc/classes/subscriber/Optimization/class-cache-dynamic-resource-subscriber.php
plugins/wp-rocket/inc/classes/subscriber/Optimization/class-combine-google-fonts-subscriber.php
plugins/wp-rocket/inc/classes/subscriber/Optimization/class-ie-conditionals-subscriber.php
plugins/wp-rocket/inc/classes/subscriber/Optimization/class-minify-css-subscriber.php
plugins/wp-rocket/inc/classes/subscriber/Optimization/class-minify-html-subscriber.php
plugins/wp-rocket/inc/classes/subscriber/Optimization/class-minify-js-subscriber.php
plugins/wp-rocket/inc/classes/subscriber/Optimization/class-remove-query-string-subscriber.php
plugins/wp-rocket/inc/classes/subscriber/third-party/plugins/ecommerce/class-woocommerce-subscriber.php
plugins/wp-rocket/inc/classes/traits/trait-config-updater.php
plugins/wp-rocket/inc/front/img/youtube.png
plugins/wp-rocket/inc/front/js/lazyload-10.11.js
plugins/wp-rocket/inc/front/js/lazyload-10.11.min.js
plugins/wp-rocket/inc/front/js/lazyload-10.12.js
plugins/wp-rocket/inc/front/js/lazyload-10.12.min.js
plugins/wp-rocket/inc/front/js/lazyload-8.11.js
plugins/wp-rocket/inc/front/js/lazyload-8.11.min.js
plugins/wp-rocket/inc/front/js/lazyload-8.12.js
plugins/wp-rocket/inc/front/js/lazyload-8.12.min.js
plugins/wp-rocket/languages/rocket-fr_CA.mo
plugins/wp-rocket/languages/rocket-fr_CA.po
plugins/wp-rocket/vendor/monolog/monolog/.php_cs
plugins/wp-rocket/vendor/monolog/monolog/CHANGELOG.md
plugins/wp-rocket/vendor/monolog/monolog/composer.json
plugins/wp-rocket/vendor/monolog/monolog/LICENSE
plugins/wp-rocket/vendor/monolog/monolog/phpunit.xml.dist
plugins/wp-rocket/vendor/monolog/monolog/README.md
plugins/wp-rocket/vendor/monolog/monolog/doc/01-usage.md
plugins/wp-rocket/vendor/monolog/monolog/doc/02-handlers-formatters-processors.md
plugins/wp-rocket/vendor/monolog/monolog/doc/03-utilities.md
plugins/wp-rocket/vendor/monolog/monolog/doc/04-extending.md
plugins/wp-rocket/vendor/monolog/monolog/doc/sockets.md
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/ErrorHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Logger.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Registry.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/ChromePHPFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/ElasticaFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/FlowdockFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/FluentdFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/FormatterInterface.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/GelfMessageFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/HtmlFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/JsonFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/LineFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/LogglyFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/LogstashFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/MongoDBFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/NormalizerFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/ScalarFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Formatter/WildfireFormatter.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/AbstractHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/AbstractProcessingHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/AbstractSyslogHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/AmqpHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/BrowserConsoleHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/BufferHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/ChromePHPHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/CouchDBHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/CubeHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/DeduplicationHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/DoctrineCouchDBHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/DynamoDbHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/ElasticSearchHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/ErrorLogHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/FilterHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/FingersCrossedHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/FirePHPHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/FleepHookHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/FlowdockHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/GelfHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/GroupHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/HandlerInterface.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/HandlerWrapper.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/HipChatHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/IFTTTHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/LogEntriesHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/LogglyHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/MailHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/MandrillHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/MissingExtensionException.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/MongoDBHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/NativeMailerHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/NewRelicHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/NullHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/PHPConsoleHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/PsrHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/PushoverHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/RavenHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/RedisHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/RollbarHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/RotatingFileHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/SamplingHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/SlackbotHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/SlackHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/SlackWebhookHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/SocketHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/StreamHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/SwiftMailerHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/SyslogHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/SyslogUdpHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/TestHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/WhatFailureGroupHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/ZendMonitorHandler.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/Curl/Util.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/FingersCrossed/ActivationStrategyInterface.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/FingersCrossed/ChannelLevelActivationStrategy.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/FingersCrossed/ErrorLevelActivationStrategy.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/Slack/SlackRecord.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Handler/SyslogUdp/UdpSocket.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Processor/GitProcessor.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Processor/IntrospectionProcessor.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Processor/MemoryPeakUsageProcessor.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Processor/MemoryProcessor.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Processor/MemoryUsageProcessor.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Processor/MercurialProcessor.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Processor/ProcessIdProcessor.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Processor/PsrLogMessageProcessor.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Processor/TagProcessor.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Processor/UidProcessor.php
plugins/wp-rocket/vendor/monolog/monolog/src/Monolog/Processor/WebProcessor.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/ErrorHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/LoggerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/PsrLogCompatTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/RegistryTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/TestCase.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/ChromePHPFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/ElasticaFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/FlowdockFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/FluentdFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/GelfMessageFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/JsonFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/LineFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/LogglyFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/LogstashFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/MongoDBFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/NormalizerFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/ScalarFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Formatter/WildfireFormatterTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/AbstractHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/AbstractProcessingHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/AmqpHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/BrowserConsoleHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/BufferHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/ChromePHPHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/CouchDBHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/DeduplicationHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/DoctrineCouchDBHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/DynamoDbHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/ElasticSearchHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/ErrorLogHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/FilterHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/FingersCrossedHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/FirePHPHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/FleepHookHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/FlowdockHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/GelfHandlerLegacyTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/GelfHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/GelfMockMessagePublisher.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/GroupHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/HandlerWrapperTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/HipChatHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/LogEntriesHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/MailHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/MockRavenClient.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/MongoDBHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/NativeMailerHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/NewRelicHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/NullHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/PHPConsoleHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/PsrHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/PushoverHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/RavenHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/RedisHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/RollbarHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/RotatingFileHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/SamplingHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/SlackbotHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/SlackHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/SlackWebhookHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/SocketHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/StreamHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/SwiftMailerHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/SyslogHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/SyslogUdpHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/TestHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/UdpSocketTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/WhatFailureGroupHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/ZendMonitorHandlerTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/Fixtures/.gitkeep
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Handler/Slack/SlackRecordTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Processor/GitProcessorTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Processor/IntrospectionProcessorTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Processor/MemoryPeakUsageProcessorTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Processor/MemoryUsageProcessorTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Processor/MercurialProcessorTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Processor/ProcessIdProcessorTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Processor/PsrLogMessageProcessorTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Processor/TagProcessorTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Processor/UidProcessorTest.php
plugins/wp-rocket/vendor/monolog/monolog/tests/Monolog/Processor/WebProcessorTest.php
plugins/wp-rocket/vendor/psr/log/.gitignore
plugins/wp-rocket/vendor/psr/log/composer.json
plugins/wp-rocket/vendor/psr/log/LICENSE
plugins/wp-rocket/vendor/psr/log/README.md
plugins/wp-rocket/vendor/psr/log/Psr/Log/AbstractLogger.php
plugins/wp-rocket/vendor/psr/log/Psr/Log/InvalidArgumentException.php
plugins/wp-rocket/vendor/psr/log/Psr/Log/LoggerAwareInterface.php
plugins/wp-rocket/vendor/psr/log/Psr/Log/LoggerAwareTrait.php
plugins/wp-rocket/vendor/psr/log/Psr/Log/LoggerInterface.php
plugins/wp-rocket/vendor/psr/log/Psr/Log/LoggerTrait.php
plugins/wp-rocket/vendor/psr/log/Psr/Log/LogLevel.php
plugins/wp-rocket/vendor/psr/log/Psr/Log/NullLogger.php
plugins/wp-rocket/vendor/psr/log/Psr/Log/Test/LoggerInterfaceTest.php
