/**
 * pages/profiles
 * ---
 */

 $text-color: #444;
 $body-bg: #fff;
 $selection-bg: #04A4CC;
 $black:rgba(0, 0, 0, 1.0);
 $white:rgba(255, 255, 255, 1.0);
 $hover: rgba(204, 0, 0, 1.0);
 $red: rgba(204, 0, 0, 1.0);

 $headerHeight: 100px;
 $wrapper-width: 1280px;
 $full-width: 100vw;

 $lato: 'Lato', sans-serif;
 $light: 100;
 $reg: 400;
 $bld: 700;
 $blk: 900;

 @mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
 }

 @mixin wrapper {
 	margin:0 auto;
 	max-width:1280px;
 	width:100%;
 }

 @mixin reset-box {
  padding: 0;
  margin: 0;
 }

 @mixin micro-clearfix {
 	 & {
 		 *zoom: 1;
 	 }
 	 &:before,
 	 &:after {
 		 content: "";
 		 display: table;
 	 }
 	 &:after {
 		 clear: both;
 	 }
 }

 body.page-id-51 {
   header, footer {
     display:none;
   }
   main {
     margin-top:0;
   }
   #nu__global-footer {
     display:none;
   }
 }

 body.page-id-83 {
   header, footer {
     display:none;
   }
   main {
     margin-top:0;
   }
   #nu__global-footer {
     display:none;
   }
 }
 body.page-id-84{
   header, footer {
     display:none;
   }
   main {
     margin-top:0;
   }
   #nu__global-footer {
     display:none;
   }
 }
#nu__dash-wrapper {
  position:fixed;
  right:0;
  width:10px;
  & .nu__vertical-dash {
     height:640px;
     background:$red;
   }
 }

 .nu__fixed-column {
   width:46%;
   position:fixed;
   height:100%;
   float:left;
   & div {
     float:right;
     max-width:540px;
     width:85%;
     position:absolute;
     right:43px;
     & p {
       margin-top:32px;
       & a {
         color:$white;
         font-size:2.4rem;
         text-transform:uppercase;
         &:hover {
           color:rgba(255, 255, 255, .8);
         }
       }
     }
     & h2 {
      font-weight:300;
      font-size: 5.6rem;
      color: $white;
      //letter-spacing: 2px;
      line-height: 7.2rem;
      margin-top:14px;

     }
     & img {
       margin-top:150px;
     }
   }
 }

 .nu__scroll-column {
    width:54%;
    position:relative;
    float:right;
    color: $black;
    font-weight:300;
    & div {
      float:left;
      max-width:628px;
      width:83%;
      margin-left:68px;
      margin-top:83px;
      & h3 {
       font-weight:300;
       font-size: 3.4rem;
       margin-top:14px;
      }
      & article {
        margin-bottom:67px;
        & h4 {
          font-weight:300;
          font-size: 2rem;
          line-height: 3.2rem;
          margin-top:50px;
        }
        & figure {
          & img {
            margin-top:20px;
            width:auto;
          }
          & figcaption {
            font-size:1.6rem;
            color:rgba(88, 88, 90, 1.0);
            font-weight:400;
            line-height: 24px;
          }
        }
        & p {
          font-size:1.6rem;
          line-height: 2.8rem;
          margin-top:20px;
          & a {
            color:rgba(0, 0, 0, 0.8);
            text-decoration:underline;
            &:hover {
              color:$black;
            }
          }
        }
        & blockquote {
          font-size: 5.6rem;
          color: $red;
          //letter-spacing: 2px;
          line-height: 7.2rem;
          margin-top:35px;
          & small {
            color: $black;
            font-weight:700;
            font-size:2rem;
            text-transform:uppercase;
            display:block;
            line-height:3.2rem;
          }
        }
      }
    }
 }

@import "../partials/longscrollqueries";
